<aside class="widget clearfix">
  <h5 class="short_headline"><span>Архив новостей</span></h5>
  <nav>
    <ul class="navigation" id='categories'>

      <%= news_item_archive_links %>

    </ul>
  </nav>
</aside>