<aside class="widget clearfix">
  <h5 class="short_headline"><span>Архив</span></h5>
  <ul class="navigation" id='categories'>
    <% links.each do |link| %>
        <li><%= link %></li>
    <% end %>
  </ul>
</aside>
