<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<!-- end /.visuallyhidden accesibility-->
<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<!--end mobile navigation trigger-->
<section class="container preheader">

  <!--this is the login for the user-->
  <!--<nav class="user clearfix"><a href="login.html"><i class="icon-user"></i> Login</a></nav>-->
  <!--close user nav-->

  <div class="search-wrapper">
    <form class="search" method="post" action="someaction.php">
      <div id="search-trigger">Search:</div>
      <input id="search-box" type="text" placeholder="search + enter">
    </form>
  </div>

  <ul class="social">
    <li>
      <a class="socicon small rss" href="<%= refinery.blog_rss_feed_path %>" data-placement="bottom" data-original-title="Подпиштесь на нашу RSS-Ленту"></a>
    </li>
    <!--<li><a class="socicon small facebook" href="#" data-placement="bottom" title="Follow us on Facebook"></a></li>-->
    <!--<li><a class="socicon small twitterbird" href="#" data-placement="bottom" title="Follow us on Twitter"></a></li>-->
    <!--<li><a class="socicon small linkedin" href="#" data-placement="bottom" title="Follow us on LinkedIn"></a></li>-->
    <!--<li><a class="socicon small dribbble" href="#" data-placement="bottom" title="Follow us on dribble"></a></li>-->
    <!--<li><a class="socicon small vimeo" href="#" data-placement="bottom" title="Follow us on Vimeo"></a></li>-->
  </ul>
</section>