<div class="container visible-phone hidden-tablet hidden-desktop">
  <p class="right">
    <a class="btn btn-primary" href="#secondary-nav">Категории&nbsp;<i class="icon-align-justify"></i></a></p>
</div>

