<% if @categories.any? %>
    <aside class="widget clearfix">

      <h5 class="short_headline"><span><%= t('.title') %></span></h5>
      <ul class="navigation" id='categories'>
        <% @categories.each do |category| %>
            <li<%= " class='active'" if @category.present? and @category.id == category.id %>>
              <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
            </li>
        <% end %>
      </ul>
    </aside>
<% end %>