<%= link_to (image_tag("print-logo.png", :alt => "Мартове.ком", :class => "print logo", :size => "152x152")), refinery.root_path %>
<div class="container">
  <%= render(:partial => "/refinery/menu", :locals => {
          :dom_id => 'main_menu',
          :css => 'menu'
  }) %>
  <div id="logo">
    <%= link_to (image_tag("trans.gif", :alt => "")), refinery.root_path %>
  </div>
</div>